.footer {
	background-color: #343434;
	color: #fff;
	@include adaptiveValue("padding-top", 170, 50, 1154, 992, 1);
	@include adaptiveValue("padding-bottom", 180, 40, 1154, 992, 1);
	@include adaptiveValue("padding-top", 50, 30, 992, 320, 1);
	@include adaptiveValue("padding-bottom", 50, 30, 992, 320, 1);

	&__container {
	}

	&__body {
		display: flex;
		margin: 0px -15px;
		@media (max-width: 992px) {
			flex-wrap: wrap;
		}
		@media (max-width: 500px) {
			margin: 0px -10px;
		}
	}

	&__column {
		order: 2;
		flex: 0 1 25%;
		padding: 0px 15px;
		@media (max-width: 992px) {
			flex: 0 1 50%;
		}
		@media (max-width: 500px) {
			padding: 0px 10px;
		}

		&_big {
			flex: 0 1 50%;
			display: flex;
			flex-direction: column;
			align-items: end;
			@media (max-width: 992px) {
				flex: 0 1 100%;
				align-items: start;
				order: 1;
				@include adaptiveValue("padding-bottom", 40, 20);
			}
		}
	}

	&__title {
		@include adaptiveValue("font-size", 37, 22);
		font-weight: 600;
		@include adaptiveValue("padding-bottom", 38, 18);
	}

	&__list {
		li {
			@include adaptiveValue("font-size", 26, 18, 1154, 992, 1);
			@include adaptiveValue("font-size", 26, 18, 992, 320, 1);
			line-height: 130%;
			@include adaptiveValue("padding-bottom", 22, 10);
		}
		span {
			&:hover {
				color: #00bec9;
			}
		}
	}

	&__item {
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: end;
		@media (max-width: 992px) {
			align-items: start;
		}
	}

	&__text {
		text-align: right;
		@include adaptiveValue("font-size", 26, 14, 1154, 992, 1);
		line-height: 110%;
		@include adaptiveValue("padding-bottom", 50, 20);
	}

	&__form {
		display: flex;
		@include adaptiveValue("padding-bottom", 30, 15);
		@media (max-width: 500px) {
			//width: 100%;
		}
	}

	&__input {
		@include adaptiveValue("width", 530, 350, 1154, 992, 1);
		height: 90px;
		background-color: #daac00;
		border-radius: 5px 0px 0px 5px ;
		padding: 15px;
		color: #fff;
		@media (max-width: 992px) {
			height: 60px;
			flex: 1 1 auto;
		}
		@media (max-width: 500px) {
			width: 100%;
			flex: 1 1 auto;
		}
	}

	&__button {
		position: relative;
		width: 144px;
		height: 90px;
		background-color: #00bec9;
		border-radius: 0px 5px 5px 0px ;
		@media (max-width: 992px) {
			height: 60px;
			width: 100px;
		}
		&::after{
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -16px 0px 0px -16px;
			width: 100%;
			height: 100%;
			background: url('@img/footer/icon/send.png')no-repeat;
		}
	}

	&__social {
		display: flex;
		li {
			transition: all 0.3s ease 0s;
			
			&:hover {
				transform: scale(1.4);
			}
			&:not(:last-child){
				margin: 0px 20px 0px 0px;
			}
		}
		@media (max-width: 992px) {
		@include adaptiveValue("padding-bottom", 30, 20);
		}
	}
}
