
// Burger (**==MW==**) ====================================================================================================//

// Запрещаем скролл основного контента при открытом бургере
body._lock {
	overflow: hidden;
}
// Прячем бургер на больших экранах
.menu__icon {
	display: none;
}

@media (max-width: $mobile) {
	.menu__icon {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
	// Три полоски
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2); //10%
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1)); //transform: scale(1) translate(0px -50%);
		}
	}

	.menu__icon._active {
		span {
			width: 0;
		}
		&::before,
		&::after {
		}
		&::before {
			top: calc(50% - rem(1));
			transform: rotate(-45deg);
		}
		&::after {
			bottom: calc(50% - rem(1));
			transform: rotate(45deg);
		}
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto; // Добавляем скролл
		z-index: 3;

		// Рисуем шапку
		&::before {
			content: '';
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
			height: 70px; // Высота шапки
			background-color: #daac00;
			z-index: 2;
		}
	}

	// Выезд меню-бургера при нажатии на бургер
	.menu__body._active {
		left: 0;
	}
}

//  ====================================================================================================//
.header {
	position: relative;
	z-index: 2;
	background-color: #daac00;
	position: fixed;
	width: 100%;

	&__container {
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 120px;
		@include adaptiveValue("min-height", 120, 70, 1154, 767, 1);
	}

	&__logo {
		position: relative;
		z-index: 5;
	}

	&__form {
		display: flex;
	}

	&__input {
		height: 50px;
		width: 200px;
		background-color: #fcc302;
		color: #fff;
		padding: 10px;
		@media (max-width: 992px) {
			display: none;
		}
	}

	&__button {
		height: 50px;
		width: 70px;
		background: url('@img/header/icon/search-button.svg') 50% no-repeat ;
		background-color: #00bec9;
		border-radius: 5px;
		transition: all 0.3s ease 0s;
		&:hover {
			background-color: #00a2aa;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
}
.menu {

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		li {
			font-size: 29px;
			font-weight: 500;
			color: #fff;
			transition: all 0.3s ease 0s;
			&:not(:last-child){
				margin: 0px 20px 0px 0px;
			}
			@media (max-width: 1050px) {
				font-size: 24px;
				&:not(:last-child){
					margin: 0px 15px 0px 0px;
				}
			}
			&:hover {
				color: #00bec9;
			}
		}
		@media (max-width: 767px) {
			display: block;
			li {
				font-size: 28px;
				&:not(:last-child){
					margin: 0px 0px 20px 0px;
				}
			}
		}
	}

	&__icon {
	}
}
.menu-link {
}
